@charset "UTF-8";
/*ABSTRACTS*/
/*MEDIA QUERIES*/
/*BASE*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  position: relative;
}

html {
  font-size: 75%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 61em) {
  html {
    font-size: 87.5%;
  }
}
@media (min-width: 74em) {
  html {
    font-size: 87.5%;
  }
}

body {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

/*MARGINS*/
.mt--sm {
  margin-top: 1rem;
}
.mt--md {
  margin-top: 3rem;
}
.mt--lg {
  margin-top: 5rem;
}
.mt--xl {
  margin-top: 8rem;
}

.mb--sm {
  margin-bottom: 1rem;
}
.mb--md {
  margin-bottom: 3rem;
}
.mb--lg {
  margin-bottom: 5rem;
}
.mb--xl {
  margin-bottom: 8rem;
}

.ml--sm {
  margin-left: 1rem;
}
.ml--md {
  margin-left: 3rem;
}
.ml--lg {
  margin-left: 5rem;
}
.ml--lg {
  margin-left: 8rem;
}

.mr--sm {
  margin-right: 1rem;
}
.mr--md {
  margin-right: 3rem;
}
.mr--lg {
  margin-right: 5rem;
}
.mr--hudge {
  margin-right: 8rem;
}

/*FONT-WEIGHT*/
.fw--thin {
  font-weight: 100;
}
.fw--light {
  font-weight: 300;
}
.fw--normal {
  font-weight: 400;
}
.fw--med {
  font-weight: 500;
}
.fw--semibold {
  font-weight: 600;
}
.fw--bold {
  font-weight: 700;
}

/*TEXT-ALIGN*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*COLOR*/
.fcolor--principal {
  color: #c3006b;
}
.fcolor--secondary {
  color: #e3e3e3;
}
.fcolor--text {
  color: #000000;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*LAYOUT*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 8rem;
  width: 100%;
  border-bottom: 1px solid #000;
}
.navbar__menu--toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}
@media (min-width: 61em) {
  .navbar__menu--toggle {
    display: none;
  }
}
.navbar__container--logo, .navbar__container--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.navbar__container--links {
  gap: 5rem;
  cursor: pointer;
}
.navbar__logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  font-weight: 300;
  display: none;
}
@media (min-width: 61em) {
  .navbar__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5rem 0 5rem 8rem;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 74em) {
  .header {
    padding-bottom: 0;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-size: cover;
  background: url("/Portafolio-DF/src/img/DF_Header.png") no-repeat top right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
  background-size: 50%;
  padding-bottom: 56.25%;
}
@media (max-width: 74em) {
  .header__container {
    background-position: right;
    background-size: 60%;
  }
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 74em) {
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.header__info--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10rem;
  line-height: 10rem;
}
.header__info--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.header__info--h2 {
  font-size: 2rem;
}
.header__info--h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}
.header__info--description {
  font-size: 1.75rem;
}
.header__pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  width: 50%;
  height: 100%;
}
@media (min-width: 47em) {
  .header__pic {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.bubble__title {
  border: 1px solid #c3006b;
  border-radius: 1.25rem;
  padding: 0.25rem;
  text-align: center;
  font-size: 1.5rem;
  width: 20rem;
}

.color__form {
  background-color: #c3006b;
  height: 1.5rem;
  width: 0.5rem;
  display: inline-block;
  border-radius: 0.5rem;
}
.color__form--black {
  background-color: #000000;
}
.color__form--white {
  background-color: #e3e3e3;
}

.about {
  display: none;
  padding-bottom: 3rem;
  margin-top: -35%;
}
@media (min-width: 74em) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 3rem;
  }
}
@media (min-width: 74em) {
  .about {
    margin-top: -25%;
  }
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 61em) {
  .about__container {
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
  }
}
.about__image {
  width: 50%;
  margin-left: 2rem;
  position: relative;
  display: inline-block;
}
.about__image--pic {
  width: 25rem;
}
.about__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-right: 8rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media (max-width: 61em) {
  .about__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.about__text--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 61em) {
  .about__text--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
}
.about__text--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__text--item h3 {
  font-size: 3rem;
  color: #c3006b;
}
.about__text--item p {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
}
.about__title {
  font-size: 5rem;
}
.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume__svg {
  position: absolute;
  top: 85%;
  left: 6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28%;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}
@media (max-width: 74em) {
  .resume__svg {
    width: 50%;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
.about__mobile {
  display: none;
  margin-top: -35%;
}
@media (max-width: 74em) {
  .about__mobile {
    display: block;
  }
}
.about__mobile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}
.about__mobile__container--resp {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 18rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 18rem;
}
.about__mobile__image {
  position: relative;
  display: inline-block;
}
.about__mobile__image--pic {
  width: 100%;
}
.about__mobile__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1.25rem;
  padding-right: 4rem;
}
@media (max-width: 61em) {
  .about__mobile__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.about__mobile__text--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.about__mobile__text--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__mobile__text--item h3 {
  font-size: 5rem;
  color: #c3006b;
}
.about__mobile__text--item p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}
.about__mobile__title {
  font-size: 5rem;
}
.about__mobile__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 20rem;
}
.services__title h2 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
  font-size: 10rem;
  color: #dadada;
  margin: 0;
}
.services__title h3 {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 3rem;
  letter-spacing: 1.4rem;
}
.services__container--cards {
  gap: 2rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
@media (min-width: 61em) {
  .services__container--cards {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  padding: 4rem;
}
@media (max-width: 74em) {
  .projects {
    display: none;
  }
}
.projects__title {
  margin-top: 0;
  padding-top: 0;
}
.projects__title--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15rem;
  line-height: 15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.projects__container--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 1.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  width: full;
}
@media (min-width: 61em) {
  .projects__container--nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.5rem;
  }
}
.projects__container--nav li {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.projects__container--nav li.active {
  border-bottom: 2px solid #c3006b;
}
.projects__container--cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 61em) {
  .projects__container--cards {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}
@media (max-width: 74em) {
  .projects__container--cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.projects--card {
  display: none;
  width: 18rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  padding: 0;
  margin: 0;
}
.projects--card img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}
.projects--card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects__mobile {
  display: none;
}
@media (max-width: 74em) {
  .projects__mobile {
    padding: 4rem;
    display: block;
  }
}
.projects__mobile__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 4rem;
  gap: 5rem;
}
.projects__mobile__container--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  list-style: none;
  font-size: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  width: full;
}
.projects__mobile__container--nav li {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__mobile__container--nav li::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent; /* Altura del triángulo */
  border-bottom: 6px solid transparent; /* Altura del triángulo */
  border-left: 6px solid gray; /* Ancho y color del triángulo */
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.projects__mobile__container--nav li.active {
  border-bottom: 4px solid #c3006b;
}
.projects__mobile__container--nav li.active::before {
  border-left-color: black;
}
.projects__mobile__container--cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.mobile__navbar--arrow {
  width: 1rem;
  height: 1rem;
}

.footer {
  background-color: #1c1c1b;
  color: rgba(255, 255, 255, 0.14);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__container--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}
.footer__container--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2rem;
  border-top: 2px solid #e3e3e3;
}
.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__title h3 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
  font-size: 2.5rem;
  color: #dadada;
  white-space: nowrap;
  letter-spacing: 1rem;
}
.footer__title h2 {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 5rem;
  letter-spacing: 1rem;
}
.footer__bubble {
  background-color: #c3006b;
  border-radius: 2rem;
  padding: 0.25rem 3rem;
  color: white;
  width: full;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.sidebar {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  width: 26%;
  height: calc(100vh - 4rem);
  position: fixed;
  padding: 4rem 2rem;
  top: 4rem;
  left: 0;
  overflow-y: hidden;
  gap: 1rem;
}
.sidebar__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sidebar__categories h3 {
  font-weight: 300;
}
.sidebar__description p {
  font-weight: 300;
  text-align: start;
  line-height: 2.25rem;
  font-size: 1.25rem;
}
.sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.sidebar__logo p {
  font-size: 1.25rem;
}
.sidebar__button {
  background-color: #000000;
  color: #c3006b;
  border: 1px solid #c3006b;
  border-radius: 1.5rem;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.sidebar__button a {
  text-decoration: none;
}
.sidebar__button:hover {
  color: #e3e3e3;
  background-color: #c3006b;
}
.sidebar__button span {
  font-size: 1.5rem;
}
.sidebar__button--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__svg {
  position: absolute;
  top: 25%;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28%;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}
@media (max-width: 74em) {
  .projects__svg {
    width: 50%;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*COMPONENTS*/
.card {
  background-color: #dadada;
  border-radius: 2rem;
  padding: 3rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #c3006b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-height: 20rem;
}
.card--text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.pagination__button {
  background-color: white;
  border: 1.5px solid #c3006b;
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #c3006b;
  font-weight: 500;
  cursor: pointer;
}
.pagination__button:hover {
  background-color: #c3006b;
  color: #e3e3e3;
}

/*PAGES*/
.project__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: #c3006b;
  overflow-y: auto;
}
.project__detail--image {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25%;
  overflow-y: auto;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.project__detail--image img {
  max-width: 100%;
  height: auto;
}