.project__detail--lvba{
  width: 74%;
  margin-left: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 100%;


  


}

.content__section--lvba{
  width: 100%;

}