// COLORS

$principal-color:#c3006b;
$secondary-color: #e3e3e3;
$gray-text:#dadada;
$text-color:#000000;
$footer-text:rgba(255, 255, 255, 0.14);

//FONT-FAMILY

$principal-font: 'Poppins', sans-serif;

//STANDAR SIZES 

$principal-padding: 6rem;
$principal-responsive-padding: 2rem;
$secondary-padding: 4rem;