.services{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20rem;

    h2{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
      font-size: 7rem;
      color: $gray-text;
      margin: 0;

      @include respond-above(sm){
        font-size: 10rem;

      }
    }

    h3{
      position: relative;
      z-index: 1;
      margin: 0;
      font-size: 2.5rem;
      @include respond-above(sm){
        font-size: 3rem;
        letter-spacing: 1.4rem;

      }


    }
    
  }

  &__container{

    &--cards{
      gap: 1rem;
      // display: flex;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(2,1fr);

      @include respond-above(sm){
        grid-template-columns: repeat(3,1fr);
        gap: 4rem;

        
      }

      @include respond-above(lg){
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;


        
      }


    }
  }
}