.card{
  background-color: $gray-text;
  border-radius: 2rem;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $principal-color;

  box-sizing: border-box;
  width: 20rem;
  max-height: 20rem;


  &--text{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  img{
    object-fit: contain;
    width: 50%;

    
  }
}