.pagination{
  display: flex;
  gap: 1rem;

  &__button{
    background-color: white;
    border: 1.5px solid $principal-color;
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: $principal-font;
    color: $principal-color;
    font-weight: 500;
    cursor: pointer;

    &:hover{
      background-color: $principal-color;
      color: $secondary-color;
    }
  }
}

